{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:200,300,400,600,700,800" rel="stylesheet">
    <title>Music school</title>

</head>

<body class="pannel bg-grey">

        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-border">
                <div class="container">
                    <a class="navbar-brand" href="/pannel-home.html">
                        <img src="/img/music-icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> Music School
                    </a>
        
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
                        <ul class="navbar-nav ml-auto">
        
                            <li class="nav-item active">
        
                                <a class="nav-link" href="/pannel-home.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/pannel-course.html">Course
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item seperat-line pr-md-3">
                                <a class="nav-link" href="/pannel-teacher.html">Teacher
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
        
                            <li class="nav-item pl-md-4">
                                    <a class="nav-link" href="/pannel-schedule.html">Schedule
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
            
        
                            <li class="nav-item dropdown ">
        
                                <a class="nav-link dropdown-toggle " href="./pannel-notification.html" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Personal
                                </a>
                                <div class="dropdown-menu profile-drop" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/pannel-profile.html">Profile</a>
                                    <a class="dropdown-item" href="/pannel-setting.html">Setting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/index.html">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

    <section class="container-2 my-section-3 p-md-0 mt-3">
            <p > <a class="c-2" href="./pannel-home.html">home</a>  &gt; <a class="c-2" href="./pannel-teacher.html">teacher</a>  &gt; <a href="" class="c-1">Harman Kardon</a> </p>
        <div class="profile-card">

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                                <h3 class="font-weight-bold mt-4">
                                        Harman Kardon
                                    </h3>
                                    <hr>
                        </div>
                        <div class="col-sm-4">
                            <p class="font-weight-bold mb-0">Location:</p>
                            <p class="text-truncat">Anything balabalbalb</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="font-weight-bold mb-0">Date Of Birth</p>
                            <p class="text-truncat">November 12, 1997</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="font-weight-bold mb-0">Location:</p>
                            <p class="text-truncat">Anything balabalbalb</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="font-weight-bold mb-0">Location:</p>
                            <p class="text-truncat">Anything balabalbalb</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="font-weight-bold mb-0">Location:</p>
                            <p class="text-truncat">Anything balabalbalb</p>
                        </div>

                    </div>
                    <a href="/pannel-profile.html" class="a-text">
                        <h5>Add some profile</h5>
                    </a>
                    <hr>
                    <h6 class="font-weight-bold">
                        Any Information
                    </h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia dolores temporibus, ut repudiandae
                        eum provident, quibusdam similique animi reprehenderit architecto vel. Deserunt rerum, nobis cumque
                        perspiciatis incidunt soluta fuga quisquam dolor tenetur consequuntur nihil dolorum corporis qui
                        architecto quibusdam.</p>
                    <hr>
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, expedita.</h5>


                </div>

                <div class="col-md-4 mr-auto br-l">
                    <div class="profile-image mx-auto mt-4" style="background:url('/img/people-2557396_1280.jpg');"></div>
                    <hr>
                    <h6 class="font-weight-bold">
                        Interested
                    </h6>
                    <div class="row mx-0 profile-tag">
                        <div class="col-auto m-tag">
                            <div class="tag">
                                <a href=""> Piano</a>
                            </div>
                        </div>
                        <div class="col-auto m-tag">
                            <div class="tag">
                                <a href=""> Guitar</a>
                            </div>
                        </div>
                        <div class="col-auto m-tag">
                            <div class="tag">
                                <a href=""> Anything</a>
                            </div>
                        </div>
                        <div class="col-auto m-tag">
                            <div class="tag">
                                <a href=""> Piano</a>
                            </div>
                        </div>
                        <div class="col-auto m-tag">
                            <div class="tag">
                                <a href=""> Piano</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>


</body>

</html>