$seperate-color: rgba(46,62,72,.12);
$button-color-darkgray:#23272b;
$border-radius: 8px;
$bg-color:#fafafa;
$color-greenblue: #00b4aa;

.f-white{
    color:white;
}


.bg-parallex{
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}  
.bg-normal{

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}    

.bg-grey{
    background:$bg-color;
}

.bg-greenblue{
    background:$color-greenblue;
    background-color: $color-greenblue !important;
    border: 0 !important;
}
.border-radius{
    $border-radius: 8px;
}
@media (max-width: 991.98px)
{
    .course .card{
        width: 100% !important;
    }

    body{
        margin-top: 57px !important;
    }
    
    .bg-img{
        height:300px !important;
    }
    .bg-parallex{
        background-attachment:unset !important;
    }

    .mr-15-none{
        margin-right:0; 
    }
    .pr-15-none{
        padding-right:0; 
    }
}

@media (min-width: 991.98px)
{
    .seperat-line{
        border-right: 1px solid $seperate-color;
      }

      
    
}
body{
    margin-top:79px;
    font-family: 'Quicksand', sans-serif !important;

}

h6{
    font-size:20px;
}
  h1, h2, h3, h4, h5, h6,p{
    font-family: 'Quicksand', sans-serif !important;
    color:black;
  }

.c-2{
    color:rgba(0, 0, 0, 0.5);
}
  .seperat-line{
    border-right: 1px solid rgba(46,62,72,.12);
  }

  
  
  .nav-link {
    padding-right: .6rem;
    padding-left: .6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

.text-bold{
    font-weight: 600;
}



.card{
    border-radius: 8px;
 
}
.bg-img{

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:100%;
    border-radius: 8px;
}


.my-section-1{
    padding-top: 90px;
    padding-bottom: 90px;
}
.my-section-2{
    padding-top: 60px;
    padding-bottom: 60px;
}
.my-section-3{
    padding-bottom: 100px !important;
}


.my-section-3{
    padding-top: 60px;
  
}
.hr{
    border-bottom: 1px solid rgba(46, 62, 72, 0.12);
    padding-bottom: 0.5rem;
    margin-bottom:0.5rem;

}
.inlineblocklist li{
    display: inline-block;
    padding-right:16px;
}

.tag li{
    line-height: 4;
   
}

.tag{
    span{
        font-weight: 600;
       }
}
.tag a, .tag .a{
    margin: 10px 0px;
    border-radius: 4px;
    padding: 5px 17px;
    color: #2e3e48;
    background: rgba(41,77,107,.12);
    line-height: 2px;
    font-weight: 500!important;
    font-size: .875rem;
    cursor: pointer;
}
.profile-tag .tag a{
    padding: 3px 8px;
}

.tag .a{
    margin :0px;
}
.profile-tag .tag .a{
    padding: 11px 12px;;
}

.tag a:hover{
    background: rgba(41,77,107,.17);
    transition: all .4s cubic-bezier(.165,.84,.44,1);
}
.tag a.active span {
    text-decoration: underline;
    cursor: pointer;
}
.avatar{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.avatar-circle {
    max-width: 170px;

    border-radius: 50% !important;
}

.textoverlay{
    text-overflow:ellipsis;
    white-space: nowrap; 
    overflow: hidden;

}

.card-time a {
    font-weight: bold;
}

a:hover {
   span{
    text-decoration: underline;
    cursor:pointer;
   }
}

.card{
    border:unset;
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
}

.owl-carousel .owl-stage-outer{
    padding: 10px 1px;
}

.owl-prev{
    display: none;
}

.owl-next{
    display: none;
}
.catecard{
    padding: 24px;
    border: .5px solid rgba(46,62,72,.12);
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    position: relative;
    background-size: cover !important;
    background-clip: padding-box !important;  
    background-repeat:   no-repeat !important;
    background-position: center center !important; 
    min-height: 160px;
}

.categoryrow{
    .col-6.col-lg-3.col-md-4{
        padding:7.5px;
        
        *{
            margin-bottom:0.1rem !important;
        }

        
    }
    h4.card-title.font-weight-bold.mb-4{
        margin-bottom: 1rem !important;
    }
    h6{
        font-weight: 600;
    }
    margin-right: -7.5px;
    margin-left: -7.5px;
}


#aboutus{
    p.c-2{
        line-height: 1.8;
    }
   
}

#contactus{

}

.card-img-top{
    height: 180px;
    width: 100%;
    display: block; 
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.hero
{
    h1, h2, h3, h4, h5, h6{
        
        color:black;
      }
}

.btn{
    padding: 5px 17px !important;
}

.fixed-top{
    border-bottom: 1px solid $seperate-color;
}

.navbar-border{
    border-bottom: 1px solid $seperate-color;
}

.form-check-input {
    margin-left: unset;
}

.formRequired{
    color:red;
}

#signUpCheck{
    margin-top: 8px;
}


.btn-info{
    background-color: $button-color-darkgray;
    border-color: $button-color-darkgray;
}

.fa-angle-down , .fa-graduation-cap{
    color:rgba(0, 0, 0, 0.425);
}
h5{
    font-size: 11px;
}

.pannel{
    margin-top:0px !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.nav-1{
    margin-top: -28px;
}



.container-2 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%; }
    @media (min-width: 576px) {
        .container-2 {
        max-width: 540px; } }
    @media (min-width: 768px) {
        .container-2 {
        max-width: 720px; } }
    @media (min-width: 992px) {
        .container-2 {
        max-width: 960px; } }
    @media (min-width: 1200px) {
        .container-2 {
        max-width: 1045px; } }
   

.jumbotron{
    padding-top: 40px;
    padding-bottom: 80px;
}

#date-of-the-day{
    padding-top: 17px;
    padding-left: 3px;
}

.pannel-choice-cate{
    .list-group-item{
        padding: 0.4rem 1rem;
    }
    a.list-group-item.list-group-item-action.active:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background: $color-greenblue;
        content: '';
    }
    a.list-group-item.list-group-item-action.active{
        font-weight: bold;
        background: #f8f9fa;
        z-index: 2;
        color:inherit;
        background-color: inherit;
        border-color: rgba(0, 0, 0, 0.125);
    
    }
}

.profile-drop{
    top: 108%;
    left: -51px;
}

.br-3px{
    border-radius: 3px;
}

.profile-card{
    border-radius: 0.25rem;
    background: white;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.a-text{
   h1,h2,h3,h4,h5,h6,p{
    color:#007bff;
   }
}

.profile-image{
    height: 170px;
    width: 100%;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    border-radius: 3px;
}

.m-tag{
    padding:0;
    padding-right: 4px;
    padding-bottom: 8px;
}

.row.Setting-data-row {
    padding-right: 50px;
}

.br-l{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.flex-reverse{
    flex-wrap: wrap-reverse;
}

h3.font-weight-bold.mb-4{
    text-align: center;
}
.mar-0{
    margin: 0 auto !important;
}

.lazytag{
    display: none;
}

img.card-img-top{
    border-radius: 8px 8px 0px 0px;
}


span.c-2.span-no-underline, span.span-no-underline {

    text-decoration: unset !important;
    cursor: pointer;
}

#studentSchedule.smallCalendar {
    max-width: 900px;

    font-size: 10px;

    .fc-left h2{
        font-size: 20px !important;
        font-weight: bold !important;
        color: black;
    }

    .fc-view-container{
        background:white;
    }
    .fc-right{
        display: none;
    }

    .fc-center{
        float: right;
    }

    .fc-more, .fc-more-cell{
        line-height: 1 !important;
    }

    .fc-popover.fc-more-popover{
        zoom:1.4;
        left:0px !important;
     
    }
  }


.banner-height{
    padding-top:100px;
    padding-bottom: 100px;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.75rem !important;
}
.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image {
    
    background-position: center !important;
    background-size: cover !important;
}

.mw-75{
    max-width: 75% !important;
}
.mw-50{
    max-width: 50% !important;
}


.media-img{
    object-fit: cover;
    width: 90px;
    height: 90px;
}

.min-h-1{
    min-height: 112px;
}

.giant-tag{
    background: #f5f5f5;
    padding: 4px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 3px;
    span{
        opacity: 0;
        
    }
}

.giant-tag:hover{

    span{
        opacity: 1;
    }

}

.giant-tag.add{
    background: #f5f5f5;
    padding: 4px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 3px;
    i{
        display:initial;
        
    }
}

.giant-tag:hover.add{

    i{
        display:unset;
    }

}
.m-tag-2{
    padding: 0;
    padding-right: 8px;
    padding-bottom: 8px;
}

a:hover.a-no-underline {
    
        color: #0056b3;
        text-decoration: unset;
    
}


.z-07{
    zoom: 0.7;
}

a.schedule-course{
    color: black;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35px 0;
    position: relative;
    padding: 14px 0;
}

a.schedule-course.active{
    color: #00b4aa;
    
}


a.schedule-course.active:before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #00b4aa;
    width: 100%;
    height: 2px;

}


img.card-img-top.teacher {
    height: 215px;
}

.px-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.c-1{
    color:black !important;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after{
    content: "" !important;
}

.bootstrap-tagsinput{
    border: unset !important;
    box-shadow: unset!important;
}

.bootstrap-tagsinput .tag {
    display: inline-block;
    width: 32%;
}
span.tag.giant-tag.mb-0.c-1.label.label-info{
    margin-bottom: 6px !important;
}

.bootstrap-tagsinput{
    width: 100% !important;
}

#class-preference-ready {
    .bootstrap-tagsinput{

        input[type="text"]{
           
        }
        
    }
   
}

btn-info {
background: #00b4aa;
border-color:#00b4aa;
}